<%= form_for [personable, person] do |f| %>
  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <%= f.submit "Submit Address", class: "btn btn-default" %>
<% end %>
