<h2>Invoice</h2>

<h4>Edit Job for: <%= current_user.full_name %></h4>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: { job: @job } %>
  </div>
</div>

<% if @job.type == "PackageJob" %>
  <div class="row">
    <div class="col-md-8">
      <button type="button", class="btn btn-default js-btn">Create new service</button>
      <div>
        <%= render partial: 'services/form', locals: { service: Service.new } %>
      </div>
    </div>

    <br>
    <br>

    <div class="col-md-8">
      <button type="button", class="btn btn-default js-btn">Create new package</button>
      <div>
        <%= render partial: 'packages/form', locals: { package: Package.new } %>
      </div>
    </div>

    <br>
    <br>

    <div class="col-md-8">
      <h4 class="media-heading">Add Package</h4>
      <div>
        <button type="button", class="btn btn-default js-btn">Add package to invoice</button>
        <div>
          <%= render partial: 'line_items/form', locals: { job: @job, line_item: PackageLineItem.new} %>
        </div>
      </div>

      <div class="js-line_items">
        <%= render partial: 'line_items/line_item', locals: {job: @job, line_item: @job.job_packages} %>
      </div>
    </div>

    <div class="col-md-8">
      <h4 class="media-heading">Add Services</h4>
      <div>
        <button type="button", class="btn btn-default js-btn">Add service to invoice</button>
        <div>
          <%= render partial: 'line_items/form', locals: { job: @job, line_item: ServiceLineItem.new } %>
        </div>
      </div>

      <div class="js-line_items">
        <%= render partial: 'line_items/line_item', locals: {job: @job, line_item: @job.job_services} %>
      </div>
    </div>
  </div>
<% end %>
