<h2>Invoice</h2>

<h4>Invoice for: <%= @job.signers_last_name_first if @job.people.first %></h4>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: { job: @job } %>
  </div>
</div>

<% if @job.type == "PackageJob" %>
  <div class="row">
    <div class="col-md-8">
      <button type="button", class="btn btn-default js-btn">Create new package</button>
      <div>
        <%= render partial: 'packages/form', locals: { package: Package.new } %>
      </div>
    </div>
  </div>
<% end %>

<% if @job.type == "PiecemealJob" %>
  <div class="row">
    <div class="col-md-8">
      <button type="button", class="btn btn-default js-btn">Create new document</button>
      <div>
        <%= render partial: 'documents/form', locals: { document: Document.new } %>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-md-8">
    <button type="button", class="btn btn-default js-btn">Create new service</button>
    <div>
      <%= render partial: 'services/form', locals: { service: Service.new } %>
    </div>
  </div>
</div>

<br>
<br>

<% if @job.type == "PackageJob" %>
  <div class="row">
    <div class="col-md-8">
      <h4 class="media-heading">Add Package</h4>
      <div>
        <%= render partial: 'line_items/form', locals: { job: @job, line_item: PackageLineItem.new } %>
      </div>

      <br>
      <br>

      <div class="js-line_items">
        <%= render partial: 'line_items/line_item', locals: { job: @job, line_item: @job.job_packages } %>
      </div>
    </div>
  </div>
<% end %>

<% if @job.type == "PiecemealJob" %>
  <div class="row">
    <div class="col-md-8">
      <h4 class="media-heading">Add Document</h4>
      <div>
        <%= render partial: 'line_items/form', locals: { job: @job, line_item: DocumentLineItem.new} %>
      </div>

      <br>
      <br>

      <div class="js-line_items">
        <%= render partial: 'line_items/line_item', locals: {job: @job, line_item: @job.job_documents} %>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-md-8">
    <h4 class="media-heading">Add Services</h4>
    <div>
      <%= render partial: 'line_items/form', locals: { job: @job, line_item: ServiceLineItem.new } %>
    </div>

    <br>
    <br>

    <div class="js-line_items">
      <%= render partial: 'line_items/line_item', locals: {job: @job, line_item: @job.job_services} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h4 class="media-heading">Total: <%= @job.total %></h4>
  </div>
</div>
