<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading">Job Name: <%= @job.first_signer_last_name if @job.people.first %></h2>
          <div class="well">
            <p>Date: <%= @job.job_date %></p>
            <p>Signer's: <%= @job.signers_last_name_first if @job.people.first %></p>
            <p>Status: <%= @job.job_status %></p>
              <% if @job.type == "PackageJob" && @job.billable %>
            <p>Company: <%= @job.billable.name %></p>
            <% end %>
            <p><%= link_to "Edit job", edit_job_path(@job) %> |
               <%= link_to "Invoice job", job_invoice_path(@job) %> |
               <%= link_to "Delete job", @job, method: :delete, data: { confirm: 'Are you sure you want to delete this job?' } %>
            </p>
          </div>

          <% if @job.type == "PackageJob" %>
            <div>
              <button type="button", class="btn btn-default js-btn">Add company</button>
              <div>
                <%= render partial: 'companies/form', locals: { job: @job, company: Company.new } %>
              </div>
            </div>
          <% end %>

          <h4 class="media-heading">Job Location</h4>

          <div>
            <button type="button", class="btn btn-default js-btn">Add address</button>
            <div>
              <%= render partial: 'locations/form', locals: { locatable: @job, location: Location.new } %>
            </div>

            <br>
            <br>

            <div class="js-locations">
              <%= render partial: 'locations/location', locals: {locatable: @job, locations: @job.locations} %>
            </div>
          </div>

          <br>
          <br>

          <h4 class="media-heading">Signers  <%= link_to "Add Signer", new_job_person_path(@job), class: 'btn btn-success' %></h4>
          <div class="media-body">
            <%= render partial: 'people/person', locals: {personable: @job, person: @job.people} %>
          </div>
      </div>
    </div>
  </div>
</div>
