<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading">Jobs for: <%= current_user.full_name %></h2>
          <div class="well">
            <p>Date: <%= @job.job_date %></p>
            <p>Status <%= @job.job_status %></p>
            <p><%= link_to "Edit job", edit_user_job_path(@job.user, @job) %> |
               <%= link_to "Delete job", [@job.user, @job], method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this job?' } %>
            </p>
          </div>
          <h4 class="media-heading new-location">Add Job's Address  <%= link_to "Job Address", new_job_location_path(@job), class: 'btn btn-success' %></h4>
          <h4 class="media-heading">Job location</h4>
          <div class="media-body">
            <%= render partial: 'locations/location', locals: {locatable: @job, location: @job.locations} %>
          </div>
      </div>
    </div>
  </div>
</div>
