<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.full_name %></h2>
          <div class="well">
            <p>Email: <%= @user.email %></p>
            <p>Commission Number: <%= @user.commission_number %></p>
            <p>Commission Expiration: <%= @user.commission_expiration %></p>
          </div>
      </div>
    </div>

    <h2 class="media-heading">Add Address | <%= link_to "New Address", new_user_location_path(@user), class: 'btn btn-success' %></h2>
      <%= render partial: 'locations/location', locals: {locatable: @user, location: @user.locations} %>
  </div>
</div>
