<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.full_name %></h2>
          <div class="well">
            <p>Email: <%= @user.email %></p>
            <p>Commission Number: <%= @user.commission_number %></p>
            <p>Commission Expiration: <%= @user.commission_expiration %></p>
          </div>
      </div>
    </div>

    <div>
      <h4 class="media-heading">Add user's address  <%= link_to "Add Address", new_user_location_path(@user), class: 'btn btn-success' %></h4>

      <br>
      <br>
      <h4 class="media-heading">My Address</h4>
      <div class="js-locations">
        <%= render partial: 'locations/location', locals: {locatable: @user, location: @user.locations} %>
      </div>
    </div>

    <br>
    <br>

    <h4 class="media-heading">My Phone Numbers</h4>
    <div>
      <button type="button", class="btn btn-default js-btn">Add phone number</button>
      <div>
        <%= render partial: 'phones/form', locals: { phoneable: @user, phone: Phone.new } %>
      </div>

      <br>
      <br>

      <div class="js-phones">
        <%= render partial: 'phones/phone', locals: {phoneable: @user, phone: @user.phones} %>
      </div>
    </div>

    <h4 class="media-heading">My Emails</h4>


    <div>
      <button type="button", class="btn btn-default js-btn">Add email</button>
      <div>
        <%= render partial: 'emails/form', locals: { emailable: @user, email: Email.new } %>
      </div>

      <br>
      <br>

      <div class="js-emails">
        <%= render partial: 'emails/email', locals: {emailable: @user, email: @user.emails} %>
      </div>
    </div>
  </div>
</div>
